@import "tailwindcss";
@plugin "tailwindcss-safe-area";

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.my-indicator {
  opacity: 0;
  transition: opacity 150ms ease-in;
  transition-delay: 200ms;
}
.htmx-request.my-indicator {
  opacity: 1;
}

.button {
  @apply flex gap-2 justify-center items-center py-2 px-4 w-full bg-blue-500 rounded cursor-pointer active:bg-blue-700 whitespace-nowrap;
}

@source inline("bg-red-500 bg-yellow-500 bg-blue-500 bg-teal-500 bg-blue-800");
