<div class="flex w-full snap-x snap-mandatory gap-4 overflow-x-auto p-2 pb-4">
  @for (playlist in playlists) {
    <a
      href="/playlist/{{ playlist.id }}"
      class="h-full shrink-0 snap-start transition-transform hover:scale-105 active:scale-95"
      preload="mousedown"
      preload-images="true"
      hx-boost="true"
    >
      <img
        class="h-42 rounded-lg object-cover shadow-md transition-shadow hover:shadow-lg"
        alt="{{ playlist.title }}"
        src="{{ playlist.image }}"
        loading="lazy"
      />
      <p class="mt-2 truncate text-sm font-medium">{{ playlist.title }}</p>
    </a>
  }
</div>
