<div
  class="grid grid-cols-2 gap-4 p-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
>
  @for (playlist in playlists) {
    <a
      href="/playlist/{{ playlist.id }}"
      class="group flex flex-col gap-2 p-2 transition-colors hover:bg-gray-800/50 active:scale-95"
      preload="mousedown"
      preload-images="true"
      hx-boost="true"
    >
      <div
        class="relative flex h-full w-full items-center overflow-clip rounded-lg"
      >
        @defer (background-blur.html; image=playlist.image) {}

        <div class="w-full overflow-hidden bg-gray-800 shadow-md">
          @if (playlist.image) {
            <img
              src="{{ playlist.image }}"
              alt="{{ playlist.title }}"
              class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
              loading="lazy"
            />
          } @else {
            <div
              class="flex h-full w-full items-center justify-center text-gray-600"
            >
              @defer (icons/musical-note.html) {}
            </div>
          }
        </div>
      </div>

      <div class="flex flex-col gap-0.5">
        <h3 class="truncate font-medium text-gray-100 group-hover:text-white">
          {{ playlist.title }}
        </h3>
        <p class="truncate text-sm text-gray-400 group-hover:text-gray-300">
          {{ playlist.owner.name }}
        </p>
        <p class="truncate text-xs text-gray-500">
          {{ playlist.tracks_count }} tracks
        </p>
      </div>
    </a>
  }
</div>
