<div class="pb-safe">
  <div class="h-12"></div>
</div>
<nav
  class="flex fixed bottom-0 justify-evenly w-full pb-safe px-safe backdrop-blur bg-black/80 *:flex *:h-13 *:w-20 *:flex-col *:items-center *:overflow-visible *:text-nowrap *:px-4 *:py-1 *:text-[10px] *:font-medium *:transition-colors"
>
  <a
    href="/"
    preload="mouseover"
    preload-images="true"
    class="@if(active_page == "NowPlaying"){text-blue-500}@else {text-gray-500}"
  >
    @include (icons/play-circle.html){} Now Playing
  </a>

  <a
    href="/queue"
    class="@if(active_page == "Queue"){text-blue-500}@else {text-gray-500}"
  >
    @include (icons/queue-list.html){} Queue
  </a>
  <a
    href="/discover"
    preload="mouseover"
    preload-images="true"
    class="@if(active_page == "Discover"){text-blue-500}@else {text-gray-500}"
  >
    @include (icons/megaphone.html){} Discover
  </a>
  <a
    href="/favorites/albums"
    href="/discover"
    preload="mouseover"
    class="@if(active_page == "Favorites"){text-blue-500}@else {text-gray-500}"
  >
    @include (icons/star-solid.html){} Favorites
  </a>

  @if (active_page == "Search") {
    <button class="text-blue-500" onclick="focusSearchInput()">
      @include (icons/magnifying-glass.html){} Search
    </button>
  } @else {
    <a href="/search/albums" class="text-gray-500">
      @include (icons/magnifying-glass.html){} Search
    </a>
  }
</nav>
