<div>
  <div class="flex w-full justify-end">
    <button
      class="btn btn-primary"
      hx-get="/playlist/{{ playlist.id }}/tracks"
      hx-target="#tracks"
      hx-swap="outerHTML"
    >
      @defer (icons/arrow-uturn-left.html) {}
    </button>
  </div>

  @defer (list.html) {
    <form
      class="sortable overflow-hidden"
      hx-post="/playlist/reorder"
      hx-trigger="end"
      hx-swap="#tracks"
    >
      <input type="hidden" name="playlist_id" value="{{ playlist.id }}" />
      @for (track in playlist.tracks) {
        @defer (list-item.html) {
          <div
            class="flex gap-4"
            data-playlist-track-id="{{ track.playlist_track_id }}"
          >
            <div class="flex w-full items-center gap-4 overflow-hidden">
              <div
                class="@if(show_track_cover) {size-12 aspect-square} flex items-center justify-center"
              >
                <div
                  class="flex aspect-square size-12 items-center justify-center"
                >
                  <div class="aspect-square size-12 overflow-hidden rounded-md">
                    <div
                      class="h-full w-full rounded-md bg-gray-800 bg-cover bg-center bg-no-repeat"
                      style="background-image: url({{ track.image }});"
                    ></div>
                  </div>
                </div>
              </div>
              @if (track.artist_name) {
                <div class="flex flex-col overflow-hidden">
                  <h2 class="truncate">{{ track.title }}</h2>
                  <h3 class="truncate text-sm text-gray-400">
                    {{ track.artist_name }}
                  </h3>
                </div>
              } @else {
                <h2 class="w-full truncate">{{ track.title }}</h2>
              }
            </div>
            @defer (
              info.html;
              hires_available=track.hires_available;
              explicit=track.explicit
            ) {}

            <form
              class="inline-flex"
              hx-post="/playlist/remove-track"
              hx-trigger="submit"
              hx-target="#tracks"
            >
              <input
                type="hidden"
                name="track_id"
                value="{{ track.playlist_track_id }}"
              />
              <input
                type="hidden"
                name="playlist_id"
                value="{{ playlist.id }}"
              />

              <button type="submit" class="btn btn-icon btn-ghost size-12 text-red-500 hover:text-red-400">
                @defer (icons/x-circle.html) {}
              </button>
            </form>

            <input type="hidden" name="new_order" value="{{ index }}" />
            <span class="handle btn btn-icon btn-ghost cursor-grab active:cursor-grabbing">
              @defer (icons/bars-2.html) {}
            </span>
          </div>
        }
      }
    </form>
  }
</div>
