@defer (list.html) {
  <form
    class="sortable"
    hx-put="/api/queue/reorder"
    hx-trigger="end"
    hx-swap="none"
  >
    @for (track in tracks) {
      @defer (list-item.html) {
        <div
          class="flex justify-between bg-black scroll-m-48"
          id="@if(track.status == 'Playing') {playing} @else {{{track.id}}}"
        >
          <button
            hx-swap="none"
            hx-put="/api/skip-to/{{ index }}"
            class="flex overflow-hidden gap-4 items-center w-full text-left cursor-pointer disabled:text-gray-500 disabled:cursor-default @if(track.status != 'Unplayed' && track.status != 'Playing'){opacity-50}"
            @if(!track.available){disabled}
          >
            <div class="flex justify-center items-center size-12 aspect-square">
              <div
                class="relative overflow-hidden rounded-md size-12 aspect-square"
              >
                <div
                  class="bg-gray-800 bg-center bg-no-repeat bg-cover rounded-md w-full h-full @if(index == currently_playing_position) {opacity-50}"
                  style="background-image: url({{ track.image }});"
                ></div>

                @if (index == currently_playing_position) {
                  <div
                    class="absolute inset-0 grid place-items-center text-blue-500"
                  >
                    <span class="size-6">
                      @defer (icons/play.html) {}
                    </span>
                  </div>
                }
              </div>
            </div>

            @if (track.artist_name) {
              <div class="flex overflow-hidden flex-col">
                <h2 class="truncate">{{ track.title }}</h2>
                <h3 class="text-sm text-gray-400 truncate">
                  {{ track.artist_name }}
                </h3>
                @defer (
                  info.html;
                  hires_available=track.hires_available;
                  explicit=track.explicit
                ) {}
              </div>
            } @else {
              <div class="flex overflow-hidden flex-col">
                <h2 class="w-full truncate">{{ track.title }}</h2>
                @defer (
                  info.html;
                  hires_available=track.hires_available;
                  explicit=track.explicit
                ) {}
              </div>
            }
          </button>

          <div class="flex items-center">
            <button class="button" hx-put="/api/remove-queue-item/{{ index }}">
              @defer (icons/x-circle.html) {}
            </button>

            <input type="hidden" name="new_order" value="{{ index }}" />
            <span class="handle button">
              @defer (icons/bars-2.html) {}
            </span>
          </div>
        </div>
      }
    }
  </form>
}
<script>
  const el = document.getElementById("playing");
  if (el) {
    el.scrollIntoView({ behavior: "smooth", block: "start" });
  }
</script>
