@defer (base.html; active_page="Search"; playing_info=playing_info) {
  <div class="flex flex-col">
    <div
      class="flex sticky top-0 flex-col grow gap-4 pb-2 max-h-full pt-safe-or-4 bg-black/80 backdrop-blur"
    >
      <div class="flex flex-row gap-4 items-center">
        <input
          id="query"
          name="query"
          class="p-2 w-full text-black bg-white rounded"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          placeholder="Search"
          spellcheck="false"
          type="search"
          oninput="setSearchQuery(this.value)"
          hx-preserve
          hx-post=""
          hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
          hx-target="#search-content"
          hx-swap="outerHTML"
        />
        <span class="size-8">
          @defer (icons/magnifying-glass.html) {}
        </span>
        <script>
          loadSearchInput();
        </script>
      </div>

      <div
        class="flex justify-between *:rounded-full *:px-2 *:py-1 *:transition-colors"
      >
        <a
          id="albums-tab"
          href="albums?query={{ search_results.query }}"
          class="@if(tab == 'albums'){bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Albums
        </a>
        <a
          id="artists-tab"
          href="artists?query={{ search_results.query }}"
          class="@if(tab == 'artists'){bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Artists
        </a>
        <a
          id="playlists-tab"
          href="playlists?query={{ search_results.query }}"
          class="@if(tab == 'playlists'){bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Playlists
        </a>
        <a
          id="tracks-tab"
          href="tracks?query={{ search_results.query }}"
          class="@if(tab == 'tracks'){bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Tracks
        </a>
      </div>
    </div>

    @defer (search-content.html; tab=tab; search_results=search_results) {}
  </div>
}
