[Desktop Entry]
Type=Application
Version=1.0

Name=Qobuz Player
Comment=Unofficial Linux client for Qobuz

Exec=qobuz-player-gtk
Icon=io.github.you.QobuzPlayer

Categories=Audio;Music;Player;
StartupNotify=true
Terminal=false
